*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: poppins, sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 6, 86) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}
.main-wrapper{
  /* border: 2px solid yellow; */
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

}
.left, .right{
  width: 30%;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.left p:nth-child(1){
  font-weight: 800;
  font-size: 4rem;
}
.left p:last-child{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -10px;
}
.right{
  color: white;
  background-color: orangered;
}
.right p:nth-child(1){
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
}
.right p:last-child{
  font-size: 4rem;
  font-weight: 800;
}